.container {
  display: grid;
  background-image: url("../assets/background-img.png");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
}
